@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate_orbita_1 {
  animation: rotate 10s linear infinite;
}

.rotate_orbita_1 img {
  animation: rotate 10s linear infinite;
}

.rotate_orbita_2 {
  animation: rotate 25s linear infinite;
}

.rotate_orbita_2 img {
  animation: rotate 25s linear infinite;
}

.rotate_orbita_3 {
  animation: rotate 40s linear infinite;
}

.rotate_orbita_3 img {
  animation: rotate 40s linear infinite;
}

.rotate_orbita_4 {
  animation: rotate 55s linear infinite;
}

.rotate_orbita_4 img {
  animation: rotate 55s linear infinite;
}
